# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Plugin Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    
    - name: Debug - Java version
      run: |
        java -version
        echo "JAVA_HOME: $JAVA_HOME"
    
    - name: Build with Maven
      run: mvn clean package
    
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: TamableFoxes-Plugin
        path: ./run/plugins/
        if-no-files-found: warn
        retention-days: 7
